@import '../../../base/mixin';
@import '../../../base/colors';

.link {
  align-items: center;
  cursor: pointer;
  display: flex;
  background: $white;
  height: 100%;
  justify-content: center;
  width: 100%;

  &:hover,
  &.active {
    @include gradient_background;

    color: $white;
    font-weight: 500;
  }
}